.page-header {
    background: $dark-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.page-header__title {
    font-size: $xl-size;
    font-weight: lighter;
    margin: 0;
    span {
        font-weight: 700;
    }
}

.page-header__actions {
    margin-top: $m-size;
}