
// font style
$f-large: 2.4rem;
$f-small: 1.4rem;
// 
$sky-blue:  #1c88bf;
$dark-blue: #364051;
$off-black: #20222b;
$off-white: #a5afd7;
$dark-white: #f7f7f7;
$blue: #3c4251;
$light-blue: #464b5e;
$dark-blue: #333745;
$purple: #8357c5;
$desktop-breakpoint: 1397px;
$dark-grey: #333333;
$grey: #666;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
